* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hind Siliguri", sans-serif;
}
li {
  list-style: none;
}
.navbar-toggler span {
  outline: none;
}
.contact-info {
  display: flex;
}

.navbar-brand {
  font-size: 23px;
  font-weight: 600;
}
.nav-link {
  font-size: 18px;
  font-weight: 500;
}
.navbar-toggler {
  border: none;
  color: black;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none;
}
.fa-medal {
  font-size: 35px;
  color: rgb(19, 168, 255);
}
/* video.fullscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  background-size: cover;

  &::-webkit-media-controls {
    display: none !important;
  }
}

.bg-video {
  position: relative;
  display: grid;
  place-items: center;
  height: 70vh;
  width: 70vw;
  margin: 0 auto;
  background: #ccc;
}

.content {
  z-index: 1;
} */

@media (min-width: 1200px) {
  .feature {
    margin-top: -90px;
    z-index: 2;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .feature {
    margin-top: 15px;
  }
}
